/laskarit/viikko2/Unicafe/target
LATEX-Helper/target
/LATEX-Helper/LATEX-Helper/nbproject/
/LATEX-Helper/LATEX-Helper/target/
/LATEX-Helper/nbproject/
/laskarit/viikko2/Maksukortti/nbproject/private/
/laskarit/viikko2/Maksukortti/build/
/laskarit/viikko2/Unicafe/nbproject/
/nbproject/
